.sign-up {
  display: flex;
  flex-direction: column;
  width: 380px;

  .title {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    flex-direction: column;
  }

  @media screen and (max-width: 800px) {
    width: 100%;
    
  }
}
